# SPDX-FileCopyrightText: 2022 Albert Meroño, Rinke Hoekstra, Carlos Martínez
#
# SPDX-License-Identifier: MIT

*~
\#*\#
bin/
!bin/grlc-server
build/
config.ini
db-cache.json
db.json
DispatchSparqlQuery.ipynb
docker-compose.yml
Dockerfile2
*/.DS_Store
.eggs/
FileLoaders.ipynb
Get_Parameters.ipynb
GetYamlDecorators.ipynb
.git/
.*!.gitignore
grlc.egg-info/
.idea
include/
ink_ext_XXXXXX_img0.png
.ipynb_checkpoints/
lib/
local/
*.log
node_modules
pip-selfcheck.json
Process_sparql_query_text.ipynb
*.pyc
.pytest_cache
.Python
ReleaseProcedure.md
response_1700168662326.html
Rewrite_Query.ipynb
share/
src/config.ini
src/FileLoaderTesting.ipynb
ssl-certificates/
!static/swagger-ui/dist/lib
*.swp
testQueries/
TODOs.md
TwitterAPIKeys.md
venv3.10/
venv3.11/
venv3.8/
venv3.9/
venv-dev/
venv-tests.sh
.vscode/
