# SPDX-FileCopyrightText: 2022 Albert Meroño, Rinke Hoekstra, Carlos Martínez
#
# SPDX-License-Identifier: MIT

# To be ignored
*

# To be included
!bin/grlc-server
!LICENSES/
!docker-assets/
!src/
!CITATION.cff
!config.default.ini
!README.md
!requirements-test.txt
!requirements.txt
!setup.cfg
!setup.py
