# SPDX-FileCopyrightText: 2022 Albert Meroño, Rinke Hoekstra, Carlos Martínez
#
# SPDX-License-Identifier: MIT

node_modules
.*!.gitignore
*/.DS_Store
.Python
*~
*.swp
*.log
include/
lib/
!static/swagger-ui/dist/lib
local/
pip-selfcheck.json
db.json
\#*\#
*.pyc
db-cache.json
docker-compose.yml
bin/
!bin/grlc-server
share/
.idea
.pytest_cache
.eggs/
.vscode/
.ipynb_checkpoints/
ssl-certificates/
testQueries/
grlc.egg-info/
src/config.ini
src/FileLoaderTesting.ipynb
Dockerfile2
FileLoaders.ipynb
ReleaseProcedure.md
TODOs.md
TwitterAPIKeys.md
config.ini
ink_ext_XXXXXX_img0.png
build/
