docopt-ng==0.9.0
Flask==3.1.0
Flask-Cors==6.0.1
pyaml==25.7.0
python-gitlab==6.5.0
rdflib==7.3.0
requests==2.32.3
SPARQLTransformer==2.4.0
PyGithub==2.8.1
gunicorn==23.0.0; sys_platform!="win32"
waitress>=1.4.2; sys_platform=="win32"
