Flask==0.10.1
gevent==1.1.2
greenlet==0.4.10
gunicorn==19.6.0
html5lib==0.9999999
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.8
keepalive==0.5
MarkupSafe==0.23
pyaml==15.8.2
pyparsing==2.0.7
PyYAML==3.11
rdflib==4.2.1
rdflib-jsonld==0.4.0
requests==2.11.1
six==1.10.0
Werkzeug==0.11.3
wheel==0.24.0
PyGithub==1.35
https://github.com/RDFLib/sparqlwrapper/zipball/master
