docopt==0.6.2
docutils==0.17.1
Flask==1.0.2
Flask-Cors==3.0.9
gevent==1.4.0; python_version <= '3.8'
gevent==22.10.2; python_version > '3.8'
greenlet==0.4.15; python_version <= '3.8'
greenlet==2.0.0; python_version > '3.8'
html5lib==1.0.1
isodate==0.6.1
itsdangerous==2.0.1
MarkupSafe==0.23
pyaml==18.11.0
pyparsing==2.0.7
python-gitlab==2.10.1
PyYAML==5.4
rdflib==5.0.0
rdflib-jsonld==0.6.2
requests==2.31.0
six==1.12.0
simplejson==3.16.0
setuptools>=38.6.0
SPARQLTransformer==2.1.1
SPARQLWrapper==1.8.2
werkzeug==0.16.0
PyGithub==1.57
gunicorn==19.6.0; sys_platform!="win32"
waitress>=1.4.2; sys_platform=="win32"
