<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>grlc</title>

    <!-- Bootstrap -->
    <link href="{{url_for('.static', filename='bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('.static', filename='bootstrap/docs/examples/grid/grid.css')}}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1><a href="https://github.com/CLARIAH/grlc" target="_blank">grlc</a></h1>
        <p>grlc, the <b>g</b>it <b>r</b>epository <b>l</b>inked data API <b>c</b>onstructor, automatically builds Web APIs using SPARQL queries stored in git repositories.</p>
      </div>

      <p> Welcome to your own instance of grlc.</p>

      <h3>Usage</h3>
      grlc assumes a GitHub repository (support for general git repos is on the way) where you store your SPARQL queries as .rq files (like in <a href="https://github.com/CEDAR-project/Queries">this one</a>). grlc will create an API operation per such a SPARQL query/.rq file.

      If you're seeing this, your grlc instance is up and running, and ready to build APIs. Assuming you got it running at <code>http://localhost:8088/</code> and your queries are at <code>https://github.com/CEDAR-project/Queries</code>, just point your browser to the following locations:

      <ul>
        <li>To request the swagger spec of your API, <code>http://localhost:8088/username/repo/spec</code>, e.g. <a href="http://localhost:8088/CEDAR-project/Queries/spec">http://localhost:8088/CEDAR-project/Queries/spec</a></li>
        <li>To request the api-docs of your API swagger-ui style, <code>http://localhost:8088/username/repo/api-docs</code>, e.g. <a href="http://localhost:8088/CEDAR-project/Queries/api-docs">http://localhost:8088/CEDAR-project/Queries/api-docs</a></li>
      </ul>

      That's it!

      <h3>Decorator syntax</h3>
      A couple of SPARQL comment embedded decorators are available to make your swagger-ui look nicer (note all comments start with <code>#+ </code>):

      <ul>
        <li>To specify a query specific endpoint, <code>#+ endpoint: http://example.com/sparql</code>.</li>
        <li>To create a summary of your query/operation, <code>#+ summary: This is the summary of my query/operation</code></li>
        <li>To assign tags to your query/operation,
          <pre>#+ tags:
#+    - firstTag
#+    - secondTag</pre></li>
      </ul>

      See examples at <a href="https://github.com/CEDAR-project/Queries">https://github.com/CEDAR-project/Queries</a>.

      <h3>Query parameters</h3>
      grlc is compliant with <a href="https://github.com/the-open-university/basil/wiki/SPARQL-variable-name-convention-for-WEB-API-parameters-mapping" target="_blank">BASIL's convention</a> on how to map GET/POST request parameters into SPARQL.

      <div class="page-footer">
        <p align="center" style="margin-top: 2cm"><a href="https://github.com/CLARIAH/grlc" target="_blank">grlc on GitHub</a><p>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('.static', filename='bootstrap/dist/js/bootstrap.min.js')}}"></script>
  </body>
</html>
