name: Lint

on:
  push:
    paths:
      - 'src/*.py'
      - 'tests/*.py'
jobs:
  linter:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v3
      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: flake8 Lint
        uses: py-actions/flake8@v2
        with:
          max-line-length: "127"
          path: "src"
